.architecture-wrapper{
    background: url('../images/bg-box.svg') no-repeat;
    background-size: cover;
    padding: 30px 0;
}
.block-img{
    text-align: center;
    margin: 56px 0;
}
@media screen and (min-width: 992px){
    .architecture-wrapper{
        padding: 80px 0;
    }
}