.innerbanner{
    margin-top: 114px;
    position: relative;
}
.innerbanner:before{
    content:"";
    background: url('../images/ic-dot-1.svg') no-repeat;
    position: absolute;
    left: -80px;
    top: 12px;
    width: 50px;
    height: 100px;
}
.innerbanner h3{
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}
.innerbanner p{
    font-weight: 300;
    font-size: 18px;
    line-height: 31px;
    color: #666666;
    padding-left: 0;
}
.innerbanner p span{
    display: block;
}
@media screen and (max-width: 991px){
    .innerbanner{
        margin-top: 60px;
    }
    .innerbanner h3{
        font-size: 34px;
        line-height: 40px;
    }
}