.exploreour-wrapper{
  position: relative;
  background: linear-gradient(110.48deg, #E3FDF5 0.78%, #FFFFFF 99.31%);
  overflow: hidden;
}
.title-explore{
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #000000;
}
.subtitle-explore{
  font-weight: 300;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  color: #666666;
}
.data-game .subtitle-explore{
  font-size: 16px;
  line-height: 31px;
  text-align: center;
  color: #7D7987;
  margin-bottom: 0;
  padding-bottom: 0;
}
.bg-img{
  background: url("../images/bg-ex.svg") no-repeat;
  padding: 120px 0;
  background-size: cover;
}
.icon-game{
  position: relative;
  display: block;
  width: 260px;
  height: 260px;
  margin-bottom: 49px;
  z-index: 99;
}
.icon-game:hover .img{
  display: none;
}
.icon-game .img-hover{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
.icon-game:hover .img-hover{
  opacity: 1;
  visibility: visible;
}
@media screen and (min-width: 992px){
  .mtop-3{
    top: -100px;
  }
  .mbottom-3{
    bottom: -100px;
  }
  .heading-explore{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    height: 200px;
  }
  .img-game-full{
    position: absolute;
    right:0;
    bottom:0;
    z-index: 998;
  }
  .img-game-full .img-game5{
    max-width: 450px;
  }
  .img-game-full.img-game-left{
    right: inherit;
    left:0;
  }
  .img-game-full img{
    display: none;
    transition: all 0.8s ease;
  }
  .img-game-full img.active{
    display: block;
    visibility: visible;
  }
  .data-game{
    display: none;
    background: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 40px;
    z-index: 999;
  }
  .data-game .title-explore{
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #000000;
  }
  .data-game .text-note{
    font-size: 16px;
    line-height: 31px;
    text-align: center;
    color: #000000;
  }
  .data-game.active{
    display: block;
  }
}
@media screen and (max-width: 991px){
  .data-game{
    display: none;
  }
  .img-game-full{
    display: none;
  }
  .icon-game{
    width: 100%;
    height: 100%;
  }
  .bg-img{
    padding: 60px 0;
  }
}