.footer-wrapper{
	background: #201E1E;
	padding-top: 45px;
	padding-bottom: 30px;
}
.footer-wrapper h3{
	font-weight: bold;
	font-size: 18px;
	line-height: 60px;
	color: #FFFFFF;
	mix-blend-mode: normal;
}
.footer-wrapper img{
	padding-top: 15px;
	text-align: center;
	align-items: center;
}
.footer-wrapper .navbar, .nav-link {
	padding: 0;
	font-size: 16px;
	line-height: 38px;
	color: #FFFFFF;
}
.footer-copyright{
	background: #201E1E;
	padding-top: 13px; 
	padding-bottom: 13px; 
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-copyright .copyright, .privacy-policy {
	font-size: 12px;
	line-height: 20px;
	color: #C0C0C0;
}
.footer-copyright .privacy-policy{
	text-align: right;
	float: right;
}
@media screen and (min-width: 992px){
	.footer-wrapper h3{
		pointer-events: none;
	}
	.footer-wrapper .collapse:not(.show){
		display: block;
	}
}
@media screen and (max-width: 991px){
	.footer-wrapper h3{
		background: url('../images/arrow-menu-ft.svg') no-repeat;
		background-position: center right;
	}
	.footer-wrapper h3[aria-expanded="true"]{
		background: url('../images/arrow-menu-active-ft.svg') no-repeat;
		background-position: center right;
	}
	.footer-copyright .privacy-policy,
	.footer-copyright .copyright{
		text-align: center;
	}
	.footer-copyright .privacy-policy{
		display: block;
		padding-top: 11px; 
		padding-bottom: 10px;
	}
}