.joinour-wrapper{
    background: linear-gradient(53.5deg, #92FE9D 15.02%, #00C9FF 89.24%);
    padding-bottom: 70px;
    padding-top: 70px;
}
.joinour-wrapper .text-center{
    margin-bottom: 20px;
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;
}
.form-action{
    text-align: center;
}
.form-action input{
    width: 394px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.065371px;
    color: #C0C0C0;
}
.form-action button{
    margin-top: 20px; 
    width: 160px;
    height: 40px;
    background: #FF2559;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.065371px;
    color: #FFFFFF;
}
@media screen and (max-width: 991px){
    .form-action input{
        width: 100%;
    }
}