.joinus-wrapper{
    background: linear-gradient(135.2deg, #E3FDF5 0.54%, #FFFFFF 55.37%);
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    padding-bottom: 70px;
    padding-top: 70px;
    margin-bottom: 80px;
}
.joinus-wrapper .text-us{
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}
.joinus-wrapper .text-us-note{
    font-weight: 300;
    font-size: 18px;
    line-height: 31px;
    color: #666666;
}
.joinus-wrapper .join-investor{
    border: none;
    width: 225px;
    height: 40px;
    background: linear-gradient(53.5deg, #92FE9D 15.02%, #00C9FF 89.24%);
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 30px; 
}
.joinus-wrapper .join-game{
    border: none; 
    width: 195px;
    height: 40px;
    background: linear-gradient(54.2deg, #FDDB92 12.75%, #FF9E6E 88.67%);
    border-radius: 20px;
    font-weight: bold; 
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}
.img-dot{
    position: absolute;
    bottom: -155px;
    right: 0;
}
.join-us-small{
    position: absolute;
    bottom: -70px;
    left: 175px;
}
#joinus{
    position: relative;
}
#joinus:before{
    content: "";
    position: absolute;
    width:  115px;
    height: 150px;
    background: url('../images/bg-join-us-large.svg') no-repeat;
    bottom: -50px;
    left:  0;
    z-index: -9999;
}
@media screen and (max-width: 992px){
    .joinus-wrapper{
        padding-top: 40px; 
    }
    #joinus{
        padding: 30px;
    }
    .joinus-wrapper .text-us{
        font-size: 34px;
        line-height: 40px;
        color: #000000;
    }
    .joinus-wrapper .text-us-note{
        font-weight: 300;
        font-size: 18px;
        line-height: 31px;
        color: #666666;
    }
    .joinus-wrapper .join-investor{
        margin-top: 30px;
    }
    .joinus-wrapper .join-game{
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .img-dot, .join-us-small{
        display: none;
    }
    #joinus:before{
        display: none; 
    }
}
