.keyfeature-wrapper{
  background: url('../images/bg-key-features.svg') no-repeat;
  padding-top: 55px;
  background-position: 0 -100px;
}
.item-key{
  background: #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  margin-bottom: 30px;
  height:  calc(100% - 30px);
  padding: 15px;
}
.thumb-img img{
  padding: 15px 0px 10px 15px; 
}
.summary h4,
.summary p{
  padding-left: 15px;
}
.summary p{
  font-size: 16px;
  line-height: 31px;
  color: #7D7987;
}
