.line{
  border-top: 1px dashed #97C3F9;
  border-right: 1px dashed #C0C0C0;
  margin-right: 100px;
  min-height: 115px;
}
.line-1{
  border-top: 1px dashed #97C3F9;
  border-left: 1px dashed #C0C0C0;
  margin-left: 100px;
  margin-right: 100px;
  min-height: 115px;
}
.line-2{
  border-top: 1px dashed #97C3F9;
  margin-left: 100px;
  min-height: 115px;
}
.roadmap-block{
  margin-top: 120px;
}
.item-timeline{
  position: relative;
}
.item-timeline:before{
  content:"";
  width: 12px;
  height: 13px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -7px;
  background: url('../images/ic-timeline.svg') no-repeat;
  z-index: 2;
}
.title-time{
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  top: -40px;
  position: relative;
}
.text-event{
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #666666;
  display: block;
}
@media screen and (min-width: 992px){
  .item-timeline.active:after{
    content:"";
    background: #00C9FF;
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -2px;
    z-index: 1;
  }
  .item-timeline.active:before{
    background: url('../images/ic-timeline-active.svg') no-repeat;
    width: 22px;
    height: 22px;
    top: -12px;
  }
}
@media screen and (max-width: 991px){
  #timeline-content {
    margin-top: 50px;
    text-align: center
  }

  .timeline {
    color: #fff;
    margin: 0 auto 50px auto;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 0 15px 0 15px;
    padding-left: 34px;
    list-style: none;
    text-align: left;
    font-weight: 100;
  }

  .timeline:before {
    content: "";
    position: absolute;
    left: 38px;
    height: 100%;
    width: 1px;
    border-right: 1px dashed #97C3F9;
    top:0;
  }

  .timeline li h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }

  .timeline .event {
    position: relative;
    min-height: 80px;
    padding-top: 30px;
  }

  .timeline .event.nodot:after {
    background: 0 0
  }

  .timeline .event p {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #666666;
    padding-left: 25px;
    margin-bottom: 0;
  }

  .timeline .event h3 {
    padding-left: 25px
  }

  .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none
  }

  .timeline .event:after,.timeline .event:before {
    position: absolute;
    display: block;
  }

  .timeline .event:before {
    
  }
  
  .timeline .event:after {
    left: -2px;
    background: url('../images/ic-timeline.svg') no-repeat;
    height: 13px;
    width: 12px;
    content: "";
    top:34px
  }
  .timeline .event.active-timeline:after{
    background: url('../images/ic-timeline-active.svg') no-repeat;
    width: 22px;
    height: 23px;
    left: -6px;
    top: 34px;
  }
  .timeline .event.active-timeline:before{
    content:"";
    background: #00C9FF;
    width: 4px;
    height: 100%;
    left: 2px;
    top:0;
  }
}