@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "footer.css";
@import "banner.css";
@import "explore.css";
@import "keyfeature.css";
@import "architecture.css";
@import "roadmap.css";
@import "joinour.css";
@import "joinus.css";
img{
    max-width: 100%;
}
body{
    background: #fff;
    font-family: 'Roboto', sans-serif;
}
.header{
    padding-top: 43px;
    position: relative;
    z-index: 9;
}
.header.fixed{
    position: fixed;
    left:0;
    right:0;
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.1));
    padding-top: 15px;
    background: #fff;
    width: 100%;
    height: 70px;
    z-index: 999;
}
.menu ul li .nav-link{
    color: #000;
    font-size: 14px;
    line-height: 16px;
}
.banner{
    background: linear-gradient(135.2deg, #E3FDF5 0.54%, #FFFFFF 55.37%);
    position: relative;
}
.btn-contact{
    background: #00C9FF;
    border-radius: 20px;
    color: #fff;
    padding: 12px 21px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    transition: all 0.5s ease;
}
.thecrown-wrapper{
    background: #fff;
    padding-bottom: 80px;
}
.title-1{
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    margin-bottom: 20px;
}
.card{
    margin-bottom: 20px;
    border:0;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 18px 20px;
}
.card-header{
    padding: 0;
    background: none;
    border:0;
}
.btn-link{
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 31px;
    color: #000000;
    width: 100%;
    text-align: left;
    padding:0;
    position: relative;
}
.btn-link:hover{
    text-decoration: none;
    color: #666;
}
.btn-link.collapsed{
    background: url('../images/ic-arrow.svg') no-repeat;
    background-position: center right;
}
.btn-link{
    background: url('../images/ic-arrow-active.svg') no-repeat;
    background-position: center right;
}
.card-body{
    padding:0;
}
.title{
    position: relative;
    font-weight: normal;
font-size: 34px;
line-height: 40px;
/* identical to box height */

text-align: center;

color: #000000;
margin-bottom:  16px;
padding-bottom:  16px;
margin-bottom:  48px;
}
.title:before{
    content: "";
    position: absolute;
    width:  50px;
    height:  4px;
    background: linear-gradient(53.5deg, #92FE9D 15.02%, #00C9FF 89.24%);
    border-radius: 2px;
    left:  0;
    right: 0;
    bottom:  0;

    margin:  0 auto;
}
.thecrown-wrapper .card-body p{
    color: #666;
    padding-left: 0;
}
@media screen and (min-width: 992px){
    .thecrown-wrapper{
        padding-bottom: 220px;
    }
    .banner{
        height: 900px
    }
    .rightbanner{
        position: absolute;
        right: 0;
        top:0;
    }
    .menu ul{
        display: block;
        text-align: right;
        width: 100%;
    }
    .menu ul li{
        display: inline-block;
        vertical-align: middle;
        padding: 0 15px;
    }
    .btn-contact:hover{
        background: #02abda;
        text-decoration: none;
        color: #fff;
    }
}
@media screen and (max-width: 991px){
    .logo img{
        max-width: 200px;
    }
    .title-1{
        font-size: 34px;
        line-height: 40px;
    }
    .header{
        padding-top: 20px;
    }
    .header.fixed .btn-menu{
        top: -45px;
    }
    .header.fixed .navbar-collapse{
        margin-top: 10px;
    }
    .btn-menu{
        position: absolute;
        right:0;
        top:-40px;
    }
    .collapse:not(.show) + .nav-right-content{
        display: none;
    }
    .nav-right-content .btn-contact{
        display: none;
    }
    .navbar-collapse{
        margin-top: 25px;
        background: #28d8e3;
        padding: 10px 16px;
    }
    .menu ul li .nav-link{
        color: #fff;
        padding-bottom: 10px;
        font-size: 16px;
    }
    .header .navbar{
        padding: 0;
    }
}